a:hover{
color: green;
}

body{
display: flex;
flex-direction: column; 
}

main{
display: flex;
}

aside{
flex: 1;
}

article{
flex: 3;
}


aside{
background-image: url(https://user-images.githubusercontent.com/100692708/157530304-ad47631f-ef33-450c-9779-89b394f6590a.jpg);
}

article{
background-image: url(https://user-images.githubusercontent.com/100692708/157532613-cd74193f-7818-43b5-81a9-72755ca6072b.jpg);
}
