a:hover{
color: green;
}

body{
display: flex;
flex-direction: column; 
background-image: url(https://user-images.githubusercontent.com/100692708/157532613-cd74193f-7818-43b5-81a9-72755ca6072b.jpg);
background-repeat: no-repeat;  
background-size: 100% auto;
}

main{
display: flex;
background-image: url(https://user-images.githubusercontent.com/100692708/157530304-ad47631f-ef33-450c-9779-89b394f6590a.jpg);  
background-repeat: no-repeat;
background-size: 100% auto;  
}

aside{
flex: 1;
}

article{
flex: 3;
}

menu{
margin: 0;
padding: 0;
list-style: none;
}

menu li{
padding-left: 20px;
background: url(link address) no-repeat left center;
}
